debian/univention-portal/usr/share/univention-portal/i18n
unittests/__pycache__
*.log
.pybuild

debian/files
debian/*.debhelper
debian/*.substvars
debian/python3-univention-portal
debian/univention-portal
