ansible/hosts.y?ml
ansible/inventory/
ansible.cfg
/docker/.env*
!/docker/.env.*.example
/docker/secret/
/docker/ssl/
/docker/docker-compose.override.yaml
/docker/docker-compose.override-generated.yaml
/docker/reverse-proxy/ssl/*
!/docker/reverse-proxy/ssl/.gitkeep
.cache/
.pybuild/
build/
*.buildinfo
*coverage.xml
*.egg-info/
*/*/debian/debhelper-build-stamp
*/*/debian/files
*/*/debian/.debhelper/
*/*/debian/*.debhelper
*/*/debian/*.debhelper.log
*/*/debian/*.substvars
*/*/debian/*/
!*/*/debian/patches/
!*/*/debian/source/
!*/*/debian/po/
.*.sw?
.sw?
*.mo
!*/*/conffiles/**/*.mo
*.pot
*.py[co]
generated-config-*.yml
.idea/
.mypy_cache/

# Packaging and build process related
/debian/univention-portal/

# Notification API
notifications-api/*.db
