.cache/
.pybuild/
build/
*.buildinfo
*.egg-info/
*/*/debian/debhelper-build-stamp
*/*/debian/files
*/*/debian/.debhelper/
*/*/debian/*.debhelper
*/*/debian/*.debhelper.log
*/*/debian/*.substvars
*/*/debian/*/
!*/*/debian/patches/
!*/*/debian/source/
!*/*/debian/po/
.*.sw?
.sw?
*.mo
!*/*/conffiles/**/*.mo
*.pot
*.py[co]
generated-config-*.yml
.idea/
.mypy_cache/
