# These requirements have been pinned by using "pip freeze" in an empty virtual
# environment.
#
# TODO: Our vision is to move over time to the usage of "poetry" and
# benefit from it's lock file mechanism.
#
# Important! The versions in this file match the versions which are in use on a
# UCS system. We do keep this at least until the App Center integration has been
# implemented.

certifi==2024.8.30
chardet==5.2.0
click==8.1.7
idna==3.10
pyasn1==0.6.1
pyasn1-modules==0.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.49
python-ldap==3.4.4
requests==2.32.3
tornado==6.4.1
urllib3==2.2.3
