# TODO: Our vision is to move over time to the usage of "poetry" and
# benefit from it's lock file mechanism.
#
# Important! The versions in this file match the versions which are in use on a
# UCS system. We do keep this at least until the App Center integration has been
# implemented.

pytest==8.3.3
pytest-cov==6.0.0
pytest-mock==3.14.0
requests-mock==1.12.1
python-dateutil==2.9.0.post0
pytest-tornado==0.8.1
mock==5.1.0
pytest-asyncio==0.24.0
