# These requirements have been pinned by using "pip freeze" in an empty virtual
# environment.
#
# TODO: Our vision is to move over time to the usage of "poetry" and
# benefit from it's lock file mechanism.
#
# Important! The versions in this file match the versions which are in use on a
# UCS system. We do keep this at least until the App Center integration has been
# implemented.

certifi==2022.9.24
chardet==5.1.0
click==8.1
idna==3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.2
python-debian==0.1.49
python-ldap==3.4.3
requests==2.28.1
tornado==6.4.1
urllib3==1.26.12
