/*
    This is an example of your custom CSS

    Only the styles given in the examples are supported.
    Feel free to alter any other style, but be aware that upgrades can break you
    styling e.g. because css selectors no longer find your defined element.

*/

/* Fonts */
.custom-portal-name {
    color: #ffffff;
}
.custom-category-title {
    color: #03045E;
}
.custom-portal-tile-name {
    color: #03045E;
}
.custom-potal-folder-title {
    color: #03045E;
}
.custom-header-button svg{
    color: #CAF0F8;
}
.custom-logout-label {
    color: #ffffff;
}
.custom-login-label {
    color: #ffffff;
}
.custom-menu-item {
    color: #03045E;
}
.custom-menu-arrow-icon {
    color: #03045E;
}
.custom-edit-mode-label {
    color: #03045E;
}
.custom-user-name {
    color: #03045E;
}
.custom-search-input {
    color: #ffffff;
}
.custom-notification-title {
    color: #CAF0F8;
}
.custom-notification-message {
    color: #CAF0F8;
}
.custom-sidebar-title {
    color: #03045E;
}
.custom-tab-title {
    color: #ffffff;
}

/* Background colors */
.custom-portal-background {
    background-color: #bae6ee;
}
.custom-portal-header {
    background-color: #03045E;
}
.custom-portal-folder {
    background-color: #7dc2ce;
}
.custom-search-input {
    background-color: #03045E;
}
.custom-flyout {
    background-color: #CAF0F8;
}
.custom-logout-label {
    background-color: #03045E;
}
.custom-login-label {
    background-color: #03045E;
}
.custom-header-tab {
    background-color: #0077B6;
}


/* hover states */
.custom-header-button:hover {
    background-color: #070988;
}
.custom-menu-item:hover {
    background-color: #abeaf7;
}
.custom-edit-mode-label:hover {
    background-color: #abeaf7;
}
.custom-logout-label:hover {
    background-color: #070988;
}
.custom-login-label:hover {
    background-color: #070988;
}


/* focus states */