/*
    This is an example of your custom CSS

    Only the styles given in the examples are supported.
    Feel free to alter any other style, but be aware that upgrades can break you
    styling e.g. because css selectors no longer find your defined element.

*/

/* Fonts */
.custom-portal-name {
    color: #ffffff;
}
.custom-category-title {
    color: #03045E;
}
.custom-portal-tile-title {
    color: #03045E;
}
.custom-potal-folder-title {
    color: #03045E;
}
.custom-header-button svg{
    color: #CAF0F8;
}
.custom-logout-label {
    color: #ffffff;
}
.custom-login-label {
    color: #ffffff;
}
.custom-menu-item {
    color: #03045E;
}
.custom-menu-arrow-icon {
    color: #03045E;
}
.custom-edit-mode-label {
    color: #03045E;
}
.custom-user-name {
    color: #03045E;
}
.custom-search-input {
    color: #03045E;
}
.custom-notification-title {
    color: #CAF0F8;
}
.custom-notification-message {
    color: #CAF0F8;
}
.custom-sidebar-title {
    color: #03045E;
}
.custom-tab-title {
    color: #ffffff;
}
.custom-portal-tooltip-description {
    color: #03045E;
}
.custom-portal-tooltip-title {
    color: #03045E;
}


/* Background colors */
.custom-portal-background {
    background-color: #f6fcfd;
}
.custom-portal-header {
    background-color: #03045E;
}
.custom-portal-folder {
    background-color: #7dc2ce;
}
.custom-search-input {
    background-color: #f6fcfd;
}
.custom-flyout {
    background-color: #CAF0F8;
}
.custom-logout-label {
    background-color: #03045E;
}
.custom-login-label {
    background-color: #03045E;
}
.custom-header-tab {
    background-color: #7bbfe4;
}
.custom-header-tab-active {
    background-color: #0077B6;
}
.custom-portal-tooltip {
    background-color: #CAF0F8;
}


/* hover states */
.custom-header-button:hover {
    background-color: #070988;
}
.custom-menu-item:hover {
    background-color: #abeaf7;
}
.custom-edit-mode-label:hover {
    background-color: #abeaf7;
}
.custom-logout-label:hover {
    border-color: #03045E;
    color: #03045E;
    background-color: #7dc2ce;
}
.custom-login-label:hover {
    border-color: #03045E;
    color: #03045E;
    background-color: #7dc2ce;
}
.custom-portal-folder:hover {
    background-color: #7dc2ce;
}

/* focus states */
.custom-portal-name:focus {
    border-color: #0AB6FF;
}
.custom-header-button:focus {
    background-color: #070988;
    border-color: #0AB6FF;
}
.custom-portal-tile-wrapper:focus .custom-portal-tile {
    border-color: #1d21ff;
} 
.custom-portal-folder:focus {
    border-color: #1d21ff;
    background-color: #7dc2ce;
}
.custom-search-input:focus {
    border-color: #03045E;
}
.custom-logout-label:focus {
    border-color: #03045E;
    color: #03045E;
    background-color: #7dc2ce;
}
.custom-login-label:focus {
    border-color: #03045E;
    color: #03045E;
    background-color: #7dc2ce;
}
.custom-menu-item:focus {
    border-color: #03045E;
}
.custom-edit-mode-label:focus {
    background-color: #CAF0F8;
    border-color: #03045E;
 }
 .custom-header-tab-focus {
    border-color: #ffffff;
}

/* details */
.custom-navigation-header {
    border-color: #03045E;
}

.custom-edit-mode-label {
   border-top-color: #ffffff;
}
.custom-iframe {
    border-top-color: #0077B6;
}