/**
 * SPDX-License-Identifier: AGPL-3.0-only
 * SPDX-FileCopyrightText: 2023-2024 Univention GmbH
 */

/*
    This is the centered-layout.css. We will update it directly.
    Will be loaded if feature toggle "centered_layout" is activated.

    - Center portal categories on screen
    - Adjust tile width to allow max five tiles per row
*/

.portal-grid--monocolumn {
  --app-tile-side-length: 6.375rem;
  max-width: calc(73 * var(--layout-spacing-unit));
}

.portal-category__tiles {
  grid-gap: calc(2.2 * var(--layout-spacing-unit));
}
