---

version: "3.9"

services:

  keycloak:
    environment:
      LDAP_BASE: "dc=univention,dc=intranet"
      LDAP_SECRET: "YOUR CONTENT OF /etc/idp-ldap-user.secret"
      LDAP_SERVER: "ldap://YOUR_UCS_IP:7389"

...
