Source: nubus-portal
Section: univention
Priority: optional
Maintainer: Univention GmbH <packages@univention.de>
Build-Depends:
 debhelper-compat (=13),
 univention-config-dev (>= 15.0.3),
 univention-join-dev,
 univention-l10n-dev (>= 7.0.1),
Standards-Version: 3.9.5

Package: nubus-portal
Architecture: all
Depends:
 docker-compose,
 netcat-openbsd,
 univention-config,
 univention-directory-listener,
 univention-directory-manager-tools,
 univention-docker,
 univention-group-membership-cache,
 univention-management-console-server,
 ${misc:Depends},
Provides:
 univention-portal (= ${binary:Version}),
Conflicts:
 univention-portal,
Replaces:
 univention-portal,
Description: Nubus Portal - Central portal web page for a UCS domain
 The Nubus Portal is a web interface which allows a central view
 to a UCS domain with all installed Apps and services. It runs the
 portal frontend and server as containers via docker compose and
 replaces the univention-portal package, which runs the same portal
 directly on the host.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
