Package: python3-univention-portal
Source: univention-portal
Version: 4.0.7-9
Architecture: all
Maintainer: Univention GmbH <packages@univention.de>
Installed-Size: 81
Depends: python3-ldap, python3-tornado, python3-requests, python3-univention-directory-manager
Section: univention
Priority: optional
Description: Library for Univention Portal
 .
 It is part of Univention Corporate Server (UCS), an
 integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
