---

services:
  keycloak:
    extra_hosts:
      {{ ansible_fqdn }}: "{{ ansible_host }}"

  portal-listener:
    extra_hosts:
      {{ ansible_fqdn }}: "{{ ansible_host }}"

  umc-server:
    extra_hosts:
      {{ ansible_fqdn }}: "{{ ansible_host }}"

...
