LDAP_HOST={{ ansible_fqdn }}
LDAP_PORT=7389
LDAP_BASE_DN={{ ldap_base.stdout }}

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=univention
PROXY_ADDRESS_FORWARDING=true
KC_PROXY=edge
KEYCLOAK_LOGLEVEL=ALL
ROOT_LOGLEVEL=ALL
