DOMAIN_NAME={{ local_domainname.stdout }}
LDAP_PORT=389
LDAP_HOST={{ ansible_fqdn }}
LDAP_HOST_DN={{ ldap_hostdn.stdout }}
LDAP_BASE_DN={{ ldap_base.stdout }}
PORTAL_DEFAULT_DN={{ portal_default_dn.stdout }}
PORTAL_UDM_API_URL=http://{{ ansible_fqdn }}/univention/udm
PORTAL_UDM_API_USERNAME={{ ansible_hostname }}$
PORTAL_UDM_API_PASSWORD_FILE=/run/secrets/machine_secret

NOTIFIER_SERVER={{ ansible_fqdn }}
DEBUG_LEVEL=5

LDAP_BIND_SECRET=/run/secrets/ldap_secret
CA_CERT_FILE=/run/secrets/ca_cert
CERT_PEM_FILE=/run/secrets/cert_pem
