portal_consumer:
  ca_cert: "{{ ca_cert.content }}"
  cert_pem: "{{ cert_pem.content }}"
  auth_ldap_secret: "{{ ldap_secret.content }}"
  ldap_base_dn: "{{ ldap_base.stdout }}"
  ldap_host: "{{ ansible_fqdn }}"
  ldap_host_dn: "{{ ldap_hostdn.stdout }}"
  ldap_host_ip: "{{ ansible_host }}"
  machine_secret: "{{ machine_secret.content }}"
  portal_default_dn: "{{ portal_default_dn.stdout }}"
  udm_api_url: "http://{{ ansible_fqdn }}/univention/udm"
  udm_api_username: "{{ ansible_hostname }}$"
