Package: univention-portal
Version: 4.0.7-9
Architecture: all
Maintainer: Univention GmbH <packages@univention.de>
Installed-Size: 1527
Depends: netcat-openbsd, python3-univention-portal (= 4.0.7-9), python3-ldap, python3-click, python3-tornado, univention-config (>= 7.0.25), univention-directory-listener, univention-directory-manager-tools, univention-group-membership-cache, univention-management-console-server, univention-join (>= 12.0.0-7)
Section: univention
Priority: optional
Description: Univention Portal - Central portal web page for a UCS domain
 Univention Portal is a web interface which allows a central view
 to a UCS domain with all installed Apps and services. Univention
 Portal is configurable, i.e., any and multiple servers can be
 configured to be show a portal. Portal entries can be configured
 to be accessible only on specific hosts. Univention Portal is also
 customisable with a logo and background image.
 .
 This package is part of Univention Corporate Server (UCS),
 an integrated, directory driven solution for managing
 corporate environments. For more information about UCS,
 refer to: https://www.univention.de/
