html
  font-size: base-font-size

body
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: var(--font-lineheight-normal);
  font-size: var(--font-size-normal);
  color: var(--font-color-contrast-high);
  margin-top: var(--portal-header-height)
  background-color: var(--bgc-content-body);
  box-sizing: border-box;
h2
  font-size: var(--font-size-header2);
  line-height: var(--font-lineheight-normal);
  font-weight: 600;