.form
  &__error
    &--text
      color: var(--color-error)

    &--input,
    &--input:hover,
    &--input:focus
      border: 1px solid var(--color-error)
      caret-color: var(--color-error)

    &--message
      color: var(--color-error)